body {
   background-color: #233;
   color: #ccc;
}
.homepage__div {
   width: 80%;
   height: 400px;
   background-color: magenta;
   margin: auto;
}
h3 {
   font-size: 41.2px;
   font-style: italic;
   font-variant: small-caps;
}